<% layout("/layouts/boilerplate") %>

  <body>
    <h3>All listings</h3>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
      <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>">
          <div class="card">
            <div class="card-img-wrapper">
              <img src="<%= listing.image %>" class="card-img-top" alt="listing_image"
                style="height: 20rem; width: 20rem;">
              <div class="card-img-overlay">
                <!-- <h5 class="card-title" style="color: aliceblue;">&#8377;<%= listing.price
                    ?listing.price.toLocaleString("en-IN") : "—" %> / night</h5> -->
              </div> <!--for showing text over image -->
            </div>
            <div class="card-body">
              <h5 class="card-title"><b>
                  <%= listing.title %>
                </b></h5>
              <p class="card-text">
                <%= listing.description %><br>
                  &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "—" %> / night
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>

  </body>